.btn-style2 {
  display: inline-flex;
  align-items: center;
  gap: 0px;
  position: relative;
  transition: all 400ms ease;
  height: 56px;
  line-height: 56px;
  background: var(--theme-color3);
  color: var(--theme-color-white);
  gap: 10px;
  border-radius: 40px;
  padding-left: 10px;
  padding-right: 30px;
}
.btn-style2:hover {
  padding-left: 38px;
  padding-right: 10px !important;
  gap: 0;
}
.btn-style2:hover .theme-btn-arrow-left {
  scale: 1;
  right: 10px;
}
.btn-style2:hover .theme-btn-arrow-right {
  scale: 0;
}
.btn-style2:hover .theme-btn {
  transform: translateX(-55px);
  color: var(--theme-color-white);
}
.btn-style2 .theme-btn-arrow-left,
.btn-style2 .theme-btn-arrow-right {
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color1);
  color: var(--theme-color3);
  border-radius: 50%;
  transition: 0.4s;
  text-align: center;
}
.btn-style2 .theme-btn-arrow-left i,
.btn-style2 .theme-btn-arrow-right i {
  rotate: -30deg;
}
.btn-style2 .theme-btn-arrow-left {
  scale: 0;
  right: 0;
  left: auto;
  position: absolute;
}
.btn-style2 .theme-btn {
  font-weight: 400;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}