.btn-style1 {
  display: inline-flex;
  align-items: center;
  gap: 0px;
  position: relative;
  transition: all 400ms ease;
  height: 56px;
  line-height: 56px;
  background: var(--theme-color1);
  color: var(--theme-color2);
  gap: 10px;
  border-radius: 40px;
  padding-left: 10px;
  padding-right: 30px;
}
.btn-style1:hover {
  padding-left: 38px;
  padding-right: 10px !important;
  gap: 0;
}
.btn-style1:hover .theme-btn-arrow-left {
  scale: 1;
  right: 10px;
}
.btn-style1:hover .theme-btn-arrow-right {
  scale: 0;
}
.btn-style1:hover .theme-btn {
  transform: translateX(-55px);
  color: var(--theme-color2);
}
.btn-style1 .theme-btn-arrow-left,
.btn-style1 .theme-btn-arrow-right {
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--theme-color3);
  color: var(--theme-color-white);
  border-radius: 50%;
  transition: 0.4s;
  text-align: center;
}
.btn-style1 .theme-btn-arrow-left i,
.btn-style1 .theme-btn-arrow-right i {
  rotate: -30deg;
}
.btn-style1 .theme-btn-arrow-left {
  scale: 0;
  right: 0;
  left: auto;
  position: absolute;
}
.btn-style1 .theme-btn {
  font-weight: 400;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}

.btn-style2 {
  display: inline-flex;
  align-items: center;
  gap: 0px;
  position: relative;
  transition: all 400ms ease;
  height: 56px;
  line-height: 56px;
  background: var(--theme-color3);
  color: var(--theme-color-white);
  gap: 10px;
  border-radius: 40px;
  padding-left: 10px;
  padding-right: 30px;
}
.btn-style2:hover {
  padding-left: 38px;
  padding-right: 10px !important;
  gap: 0;
}
.btn-style2:hover .theme-btn-arrow-left {
  scale: 1;
  right: 10px;
}
.btn-style2:hover .theme-btn-arrow-right {
  scale: 0;
}
.btn-style2:hover .theme-btn {
  transform: translateX(-55px);
  color: var(--theme-color-white);
}
.btn-style2 .theme-btn-arrow-left,
.btn-style2 .theme-btn-arrow-right {
  height: 40px;
  line-height: 40px;
  width: 40px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color1);
  color: var(--theme-color3);
  border-radius: 50%;
  transition: 0.4s;
  text-align: center;
}
.btn-style2 .theme-btn-arrow-left i,
.btn-style2 .theme-btn-arrow-right i {
  rotate: -30deg;
}
.btn-style2 .theme-btn-arrow-left {
  scale: 0;
  right: 0;
  left: auto;
  position: absolute;
}
.btn-style2 .theme-btn {
  font-weight: 400;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}

/*Btn Style 3*/
.theme-btn {
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  transition: all 300ms ease;
}
.theme-btn .btn-title {
  position: relative;
  display: flex;
  align-items: center;
}

.btn-style3 {
  align-items: center;
  background-image: linear-gradient(to right, var(--theme-color3) 0%, var(--theme-color4) 50%, var(--theme-color3) 100%);
  background-size: 200%;
  border-radius: 100px;
  color: var(--theme-color-white);
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  overflow: hidden;
  padding: 20px 28px;
  padding-left: 80px;
  position: relative;
}
.btn-style3:hover {
  background-position: 0% 0;
  color: var(--theme-color-white);
}
.btn-style3:hover .icon {
  background-color: var(--headings-color);
  color: var(--theme-color-white);
  transform: rotate(0);
}
[data-tm-layout=dark] .btn-style3:hover .icon {
  background-color: var(--theme-color2);
}
[data-tm-layout=dark] .btn-style3:hover .icon {
  color: #fff;
}
.btn-style3 .icon {
  background-color: var(--theme-color-white);
  border-radius: 50px;
  bottom: 4px;
  color: var(--theme-color2);
  font-size: 25px;
  height: 50px;
  position: absolute;
  left: 5px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 900ms ease;
  width: 50px;
  transform: rotate(45deg);
}
[data-tm-layout=dark] .btn-style3 .icon {
  background-color: #fff;
  border-radius: 50px;
}

/*Btn Style 4*/
.theme-btn {
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  transition: all 300ms ease;
}
.theme-btn .btn-title {
  position: relative;
  display: flex;
  align-items: center;
}

.btn-style4 {
  align-items: center;
  background-image: linear-gradient(to right, var(--theme-color3) 0%, var(--theme-color4) 50%, var(--theme-color3) 100%);
  background-size: 200%;
  border-radius: 100px;
  color: var(--theme-color-white);
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  overflow: hidden;
  padding: 20px 28px;
  padding-left: 80px;
  position: relative;
}
.btn-style4:hover {
  background-position: 0% 0;
  color: var(--theme-color-white);
}
.btn-style4:hover .icon {
  background-color: var(--theme-color2);
  color: var(--theme-color-white);
  transform: rotate(0);
}
.btn-style4 .icon {
  background-color: var(--theme-color3);
  border-radius: 50%;
  bottom: 5px;
  color: var(--theme-color3-text-color);
  font-size: 25px;
  height: 50px;
  position: absolute;
  left: 5px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 900ms ease;
  width: 50px;
  transform: rotate(45deg);
}

/*Btn Style 5*/
.btn-style5 {
  align-items: center;
  background-color: var(--theme-color1);
  border-radius: 30px;
  color: var(--theme-color2);
  display: inline-flex;
  height: 56px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 400ms ease;
  z-index: 0;
}
.btn-style5 .left-arrow {
  right: 7px;
  transform: scale(0);
}
.btn-style5 .btn-title {
  color: var(--theme-color2);
  font-size: 16px;
  line-height: 30px;
  padding: 0px 26px 0 70px;
  text-transform: uppercase;
  transition: all 400ms ease;
}
.btn-style5 .left-arrow,
.btn-style5 .right-arrow {
  background-color: var(--theme-color2);
  border-radius: 50%;
  color: var(--theme-color-light);
  font-size: 10px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  width: 40px;
  transition: all 400ms ease;
}
.btn-style5 .right-arrow {
  right: auto;
  left: 7px;
  transform: scale(1);
}
.btn-style5:hover .left-arrow {
  transform: scale(1);
}
.btn-style5:hover .btn-title {
  transform: translateX(-37px);
}
.btn-style5:hover .right-arrow {
  transform: scale(0);
}

/*Btn Style 6*/
.btn-style6 {
  align-items: center;
  background-color: transparent;
  border: 1px solid #171717;
  border-radius: 30px;
  color: var(--theme-color2);
  display: inline-flex;
  height: 56px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 400ms ease;
  z-index: 0;
}
.btn-style6 .btn-title {
  color: var(--theme-color2);
  font-size: 16px;
  line-height: 30px;
  padding: 0px 70px 0 26px;
  transition: all 400ms ease;
}
.btn-style6 .left-arrow {
  background-color: var(--theme-color1);
  border-radius: 50%;
  color: var(--theme-color1-text-color);
  font-size: 10px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  width: 40px;
  right: 10px;
  transition: all 400ms ease;
}
.btn-style6:hover {
  background-color: var(--theme-color1);
  color: #fff;
  border: 1px solid transparent;
}
.btn-style6:hover .btn-title {
  color: var(--theme-color1-text-color);
}
.btn-style6:hover .left-arrow {
  background-color: #fff;
  color: var(--theme-color2);
}

/*Btn Style 7*/
.btn-style7 {
  align-items: center;
  background-color: transparent;
  border: 1px solid #171717;
  border-radius: 30px;
  color: var(--theme-color2);
  display: inline-flex;
  height: 56px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 400ms ease;
  z-index: 0;
}
.btn-style7 .btn-title {
  color: var(--theme-color2);
  font-size: 16px;
  line-height: 30px;
  padding: 0px 70px 0 26px;
  transition: all 400ms ease;
}
.btn-style7 .left-arrow {
  background-color: var(--theme-color1);
  border-radius: 50%;
  color: var(--theme-color1-text-color);
  font-size: 10px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  width: 40px;
  right: 10px;
  transition: all 400ms ease;
}
.btn-style7:hover {
  background-color: var(--theme-color1);
  color: #fff;
  border: 1px solid transparent;
}
.btn-style7:hover .btn-title {
  color: var(--theme-color1-text-color);
}
.btn-style7:hover .left-arrow {
  background-color: #fff;
  color: var(--theme-color2);
}

/*Btn Style 8*/
.btn-style8 {
  align-items: center;
  background-color: var(--theme-color1);
  color: var(--theme-color1-text-color);
  border-radius: 30px;
  display: inline-flex;
  height: 56px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  transition: all 400ms ease;
  z-index: 0;
}
.btn-style8 .btn-title {
  color: var(--theme-color1-text-color);
  font-size: 16px;
  line-height: 30px;
  padding: 0px 70px 0 26px;
  transition: all 400ms ease;
}
.btn-style8 .left-arrow {
  background-color: #fff;
  border-radius: 50%;
  color: var(--theme-color2);
  font-size: 10px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  width: 40px;
  right: 10px;
  transition: all 400ms ease;
}
.btn-style8:hover {
  background-color: var(--theme-color2);
  color: var(--theme-color2-text-color);
}
.btn-style8:hover .btn-title {
  color: #fff;
}
.btn-style8:hover .left-arrow {
  background-color: var(--theme-color1);
  color: var(--theme-color1-text-color);
}