@import "../../bootstrap-loader";
@import "features-common";
.features-block-style10 {
  margin-bottom: 30px;
  &.active,
  &:hover {
    .inner-box {
      &::before {
        width: 100%;
      }
      .feature-icon {
        i {
          transform: rotateY(360deg);
          color: var(--theme-color3);
        }
        .svg-icon {
          transform: rotateY(360deg);
          path {
            fill: #fff;
            [data-tm-layout="dark"] & {
              fill: #ffffff;
            }
          }
        }
      }
      .content-box {
        .features-title {
          color: #fff;
          a {
            color: #fff;
            [data-tm-layout="dark"] & {
              color: var(--headings-color);
            }
          }
        }
        .features-details {
          color: #fff;
          [data-tm-layout="dark"] & {
            color: var(--headings-color);
          }
        }
      }
    }
  }
  .inner-box {
    position: relative;
    padding: 30px 30px 20px;
    z-index: 1;
    background-color: rgba(242, 245, 241, 1);
    border-radius: 10px;
    transition: all 500ms ease;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0px;
      height: 100%;
      content: "";
      z-index: -1;
      border-radius: 10px;
      background-color: var(--theme-color3);
      transition: all 500ms ease;
    }
    .feature-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      border-radius: 100px;
      background-color: rgba(200, 248, 169, 1);
      margin-bottom: 25px;
      .svg-icon {
        transition: all 500ms ease;
      }
      i {
        display: flex;
        transform: rotateY(0);
        color: var(--theme-color3);
        font-size: 37px;
        line-height: 1;
        transition: all 900ms ease;
      }
    }
    .content-box {
      margin-top: 40px;
      .features-title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: capitalize;
        transition: all 500ms ease;
        margin-top: 0;
      }
      .features-details {
        line-height: 35px;
        transition: all 500ms ease;
      }
    }
  }
}
