@import "../../bootstrap-loader";

.features-block-style1 {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 50px;
  padding-bottom: 30px;
  @include media-breakpoint-down(xl) {
    padding: 35px;
  }
  @include media-breakpoint-down(lg) {
    padding: 30px;
  }
  @include media-breakpoint-down(sm) {
    padding: 25px;
  }
  .icon {
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    @include transition(all 0.4s ease-in-out);
    background: rgba(255, 255, 255, 0.2);

    svg path {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      animation: draw 3s forwards ease-in-out;
    }
    i {
      font-size: 34px;
      line-height: 68px;
      color: var(--theme-color1);
      display: flex;
      line-height: 1;
      @include transform(rotateY(0));
      transition: all 900ms ease;
    }
    img,
    svg {
      display: block;
      @include transform(rotateY(0));
      transition: all 900ms ease;
    }
  }
  .content {
    margin-top: 35px;
    .features-title {
      color: #fff;
      background-position: 0 95%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      display: inline;
      @include transition(all 200ms ease);

      &:hover {
        background-size: 100% 2px;
        background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
        @include transition(all 200ms ease);
      }
      a {
        color: #fff;
        background-position: 0 95%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        display: inline;
        @include transition(all 200ms ease);

        &:hover {
          background-size: 100% 2px;
          background-image: linear-gradient(180deg, #fff 0%, #fff 100%);
          @include transition(all 200ms ease);
        }
      }
    }

    .features-details {
      color: #c4c4c4;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .link-btn {
      transform: rotate(0);
      display: inline-block;
      line-height: 1;
      font-size: 30px;
      color: #fff;
      @include transition(all 200ms ease);

      &:hover {
        color: var(--theme-color1);
        transform: rotate(-45deg);
        svg path {
          fill: var(--theme-color1);  
          stroke-dashoffset: 0;
          animation: draw2 3s forwards ease-in-out;
        }
        @include transition(all 200ms ease);
      }
    }
  }

  &:hover {
    .icon {
      background-color: var(--theme-color1);
      background-position: 100% 0;
      i {
        color: var(--theme-color3);
        @include transform(rotateY(360deg));
      }
      img,
      svg {
        @include transform(rotateY(360deg));
      }
      svg path {
        animation: draw2 3s forwards ease-in-out;
      }
    }
  }
}
