@import "../../bootstrap-loader";
@import "service-common";
.tm-sc-service {
  .service-block-style10 {
    border-right: 1px solid rgba(var(--theme-color2-rgb), 0.1);
    border-bottom: 1px solid rgba(var(--theme-color2-rgb), 0.1);
    .inner-box {
      position: relative;
      padding: 30px 30px 30px;
      @include transition(all 300ms ease);
      &:before {
        background-color: var(--theme-color1);
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        @include transition(all 300ms ease);
      }
      &:hover {
        &:before {
          height: 100%;
        }
        .icon-box {
          color: #fff;
          .icon {
            transform: rotateY(-180deg);
          }
        }
        .content-box {
          .service-title {
            color: #fff;
            a {
              color: #fff;
              &:hover {
                color: #fff;
              }
            }
          }
          .arrow-btn {
            color: #fff;
          }
        }
      }
      .icon-box {
        color: var(--headings-color);
        position: relative;
        margin-bottom: 179px;
        font-size: 50px;
        @include transition(all 300ms ease);
        .icon {
          @include transition(all 300ms ease);
        }
      }
      .content-box {
        position: relative;
        .service-title {
          margin-bottom: 14px;
          @include transition(all 300ms ease);
        }
        .arrow-btn {
          color: var(--headings-color);
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 0;
          line-height: 1;
          font-family: var(--heading-font-family);
          @include transition(all 300ms ease);
          &:hover {
            .icon {
              transform: rotate(-45deg);
            }
          }
          .icon {
            font-size: 14px;
            margin-left: 5px;
            @include transition(all 300ms ease);
          }
        }
      }
    }
  }
}
