@import "../../bootstrap-loader";
@import "service-common";
.service-block-style4 {
  margin-bottom: 15px !important;
  position: relative;
  padding: 30px 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  .arrow-shape-2 {
    position: absolute;
    width: 118px;
    height: 104px;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url(../../../images/current-theme/arrow-shape-2.png);
  }
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    content: "";
    border: 1px solid #dadada;
    [data-tm-layout="dark"] & {
      border-color: #ffffff30;
    }
    left: 14px;
    width: initial;
    z-index: -1;
  }
  .service-icon-box {
    @include flex;
    gap: 30px;
    .icon {
      width: 89px;
      height: 92px;
      line-height: 92px;
      background: #144443;
      text-align: center;
      position: relative;
      @include transition;
      font-size: 33px;
      color: var(--theme-color1);
      .arrow-shape {
        position: absolute;
        bottom: -52px;
        left: 0px;
      }
      i {
        color: var(--theme-color3);
        transition: all 900ms ease;
        display: inline-block;
      }
      .service-triangle {
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        left: 0;
      }

      .service-triangle::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-right: 14px solid #235c5b;
        border-bottom: 11px solid transparent;
      }
    }
    .service-count {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--theme-color2);
      opacity: 0.3;
      font-size: 96px;
      font-weight: 700;
      color: transparent;
      font-family: var(--body-font-family);
      line-height: 1;
      [data-tm-layout="dark"] & {
        -webkit-text-stroke-color: var(--headings-color);
      }
    }
  }
  .content {
    padding: 50px 40px 40px;
    @include media-breakpoint-down(md) {
      padding: 30px 30px 25px;
    }
    .service-title {
      a {
        background-position: 0 95%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        display: inline;

        &:hover {
          background-size: 100% 2px;
          background-image: linear-gradient(180deg, var(--headings-color) 0%, var(--headings-color) 100%);
        }
      }
    }
    .service-details {
      line-height: 218%;

      br {
        @include media-breakpoint-down(xl) {
          display: none;
        }
      }
    }
  }
  &:hover {
    .service-icon-box {
      .icon {
        i {
          transform: rotateY(360deg);
        }
      }
    }
  }
}

.float-bob-x {
  -webkit-animation-name: float-bob-x;
  animation-name: float-bob-x;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.float-bob-x {
  -webkit-animation-name: float-bob-x;
  animation-name: float-bob-x;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@keyframes float-bob-x {
  0% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}
