.counter-block-style2 {
  position: relative;
  text-align: center;
  width: 312px;
  height: 312px;
  border-radius: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5px;
  border: 1px solid #d2d2d2;
}
[data-tm-layout=dark] .counter-block-style2 {
  border-color: rgba(255, 255, 255, 0.1882352941);
}
@media (max-width: 1440px) {
  .counter-block-style2 {
    width: 315px;
    height: 315px;
    padding-top: 70px;
  }
}
@media (max-width: 1200px) {
  .counter-block-style2 {
    width: 240px;
    height: 240px;
    padding-top: 35px;
  }
}
@media (max-width: 1024px) {
  .counter-block-style2 {
    width: 320px;
    height: 320px;
    padding-top: 70px;
  }
}
@media (max-width: 767.98px) {
  .counter-block-style2 {
    width: 250px;
    height: 250px;
    padding-top: 45px;
    margin: 0 auto;
  }
}
@media (max-width: 575.98px) {
  .counter-block-style2 {
    width: 230px;
    height: 230px;
    padding-top: 45px;
  }
}
.counter-block-style2 .counter {
  font-size: 96px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 1399.98px) {
  .counter-block-style2 .counter {
    font-size: 80px;
  }
}
@media (max-width: 991.98px) {
  .counter-block-style2 .counter {
    font-size: 60px;
  }
}
@media (max-width: 767.98px) {
  .counter-block-style2 .counter {
    font-size: 75px;
  }
}
@media (max-width: 575.98px) {
  .counter-block-style2 .counter {
    font-size: 60px;
  }
}
.counter-block-style2 .title {
  margin: 0 auto;
  color: rgb(89, 91, 98);
}