.tm-sc-service .icon {
  display: inline-block;
}
.tm-sc-service .icon,
.tm-sc-service .feature-title,
.tm-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-block-style5 {
  border-radius: 10px;
  border: 1px solid #ebebeb;
  padding: 30px 24px;
}
.service-block-style5 .project-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
.service-block-style5 .project-image::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(-180deg, rgba(20, 68, 67, 0) 0%, var(--theme-color2) 100%);
  z-index: 9;
}
.service-block-style5 .project-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}
.service-block-style5 .project-image img {
  background-size: cover;
  transition: 0.5s;
  width: 100%;
}
.service-block-style5 .project-image .service-featured-img:nth-child(1) img {
  transform: translatex(-50%) scalex(2);
  opacity: 0;
  filter: blur(10px);
}
.service-block-style5 .project-image .service-featured-img:nth-child(2) img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.service-block-style5 .project-image .shape-1 {
  position: absolute;
  bottom: 0;
  left: 20px;
}
.service-block-style5 .project-image .project-content {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 9;
}
.service-block-style5 .project-image .project-content .service-title {
  line-height: 1;
  color: var(--theme-color-white);
  background-position: 100% 95%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  display: inline;
}
.service-block-style5 .project-image .project-content .service-title a {
  color: var(--theme-color-white);
  background-position: 100% 95%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  display: inline;
}
.service-block-style5 .project-image .project-content .service-title a:hover {
  background-size: 100% 2px;
  background-image: linear-gradient(-180deg, var(--theme-color-white) 0%, var(--theme-color-white) 100%);
}
.service-block-style5 .project-image .project-content .service-subtitle {
  color: var(--theme-color-white);
}
.service-block-style5 .project-image .project-layer-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.5s;
}
.service-block-style5 .project-image .project-layer-wrapper .project-layer-image {
  width: 25%;
  height: 100%;
  transition: 0.5s;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  position: relative;
}
.service-block-style5 .project-image .project-layer-wrapper .project-layer-image::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(-180deg, rgba(20, 68, 67, 0) 0%, var(--theme-color2) 100%);
}
.service-block-style5 .project-image .project-layer-wrapper .project-layer-image:nth-child(1) {
  background-position: 100%;
  transition-delay: 0;
}
.service-block-style5 .project-image .project-layer-wrapper .project-layer-image:nth-child(2) {
  background-position: 66.67%;
  transition-delay: 0.1s;
  border-radius: 0 !important;
}
.service-block-style5 .project-image .project-layer-wrapper .project-layer-image:nth-child(2)::before {
  border-radius: 0 !important;
}
.service-block-style5 .project-image .project-layer-wrapper .project-layer-image:nth-child(3) {
  background-position: 33.34%;
  transition-delay: 0.2s;
  border-radius: 0 !important;
}
.service-block-style5 .project-image .project-layer-wrapper .project-layer-image:nth-child(3)::before {
  border-radius: 0 !important;
}
.service-block-style5 .project-image .project-layer-wrapper .project-layer-image:nth-child(4) {
  background-position: 0%;
  transition-delay: 0.3s;
}
.service-block-style5 .theme-btn {
  position: relative;
}
.service-block-style5 .theme-btn.theme-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
}
.service-block-style5 .theme-btn.btn-style-one {
  padding: 22px 22px;
  align-items: center;
  min-height: 60px;
  border-radius: 10px 0px 0px 10px;
  background: var(--theme-color1);
  color: var(--headings-color);
  padding-left: 85px;
  position: relative;
  line-height: 1;
  font-weight: 700;
  overflow: hidden;
  text-transform: capitalize;
  display: inline-block;
}
.service-block-style5 .theme-btn.btn-style-one::before {
  background-color: var(--headings-color);
  position: absolute;
  right: 0;
  top: 0%;
  height: 100%;
  width: 100%;
  content: "";
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  transition: -webkit-transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  z-index: -1;
}
.service-block-style5 .theme-btn.btn-style-one:hover {
  color: var(--theme-color-white);
}
.service-block-style5 .theme-btn.btn-style-one:hover:before {
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.service-block-style5 .theme-btn .icon {
  width: 52px;
  height: 52px;
  line-height: 52px;
  border-radius: 10px;
  background: var(--theme-color2);
  position: absolute;
  left: 4px;
  top: 4px;
  bottom: 4px;
}
.service-block-style5:hover .project-image .service-featured-img:nth-child(1) img {
  transform: translatex(0) scalex(1);
  opacity: 1;
  filter: blur(0);
}
.service-block-style5:hover .project-image .service-featured-img:nth-child(2) img {
  transform: translatex(50%) scalex(2);
  opacity: 0;
  filter: blur(10px);
}