@charset "UTF-8";
.tm-sc-service .icon {
  display: inline-block;
}
.tm-sc-service .icon,
.tm-sc-service .feature-title,
.tm-sc-service .feature-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.service-block-style1 .inner-block {
  background-color: #f2f5f1;
  border-radius: 20px;
  padding: 40px;
}
.service-block-style1 .inner-block:hover .icon-block {
  background-color: var(--theme-color3);
  color: var(--theme-color1);
}
.service-block-style1 .inner-block:hover .icon-block i,
.service-block-style1 .inner-block:hover .icon-block img {
  transform: scaleX(-1);
}
.service-block-style1 .inner-block:hover .btn-more {
  background: var(--theme-color3);
  color: var(--theme-color1);
}
.service-block-style1 .inner-block:hover .btn-more .btn-icon {
  background-color: var(--theme-color1);
  color: var(--theme-color3);
}
.service-block-style1 .inner-block .icon-block {
  line-height: 1;
  font-size: 48px;
  width: 94px;
  height: 94px;
  background-color: var(--theme-color-white);
  border-radius: 50%;
  color: var(--theme-color3);
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
}
.service-block-style1 .inner-block .icon-block .icon {
  position: relative;
}
.service-block-style1 .inner-block .icon-block i,
.service-block-style1 .inner-block .icon-block img {
  display: flex;
  position: relative;
  transition: all 300ms ease;
}
.service-block-style1 .inner-block .service-title {
  margin-top: 0;
  margin-bottom: 8px;
  transition: all 300ms ease;
}
.service-block-style1 .inner-block .service-title a:hover, .service-block-style1 .inner-block .service-title a:focus {
  color: var(--theme-color3);
}
.service-block-style1 .inner-block .service-details {
  margin-bottom: 30px;
  transition: all 300ms ease;
}
.service-block-style1 .inner-block .list-info {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 35px;
  margin-bottom: 32px;
}
.service-block-style1 .inner-block .list-info li {
  color: var(--theme-color2);
  list-style-type: none;
  margin-bottom: 7px;
  position: relative;
  padding-left: 28px;
}
.service-block-style1 .inner-block .list-info li:last-child {
  margin-bottom: 0;
}
.service-block-style1 .inner-block .list-info li:before {
  color: var(--theme-color3);
  opacity: 0.4;
  content: "◆";
  font-size: 12px;
  font-family: "FlaticonCommon" !important;
  position: absolute;
  top: 3.5px;
  left: 4px;
  z-index: 1;
}
.service-block-style1 .inner-block .btn-more {
  background-color: var(--theme-color-white);
  border-radius: 30px;
  color: var(--theme-color2);
  font-weight: 600;
  padding: 10px 10px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease;
}
.service-block-style1 .inner-block .btn-more .btn-title {
  transition: all 300ms ease;
}
.service-block-style1 .inner-block .btn-more .btn-icon {
  background-color: var(--theme-color3);
  color: var(--theme-color-white);
  border-radius: 50%;
  height: 45px;
  line-height: 1;
  width: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}
.service-block-style1 .inner-block .btn-more i,
.service-block-style1 .inner-block .btn-more img {
  display: inline-block;
  transform: rotate(-45deg);
  transition: all 300ms ease;
}
.service-block-style1 .inner-block .btn-more:hover i,
.service-block-style1 .inner-block .btn-more:hover img {
  transform: rotate(0deg);
}