@import "../../bootstrap-loader";
@import "blog-common";

.blog-item-current-style4 {
  position: relative;
  @include transition(all 300ms ease);
  border-bottom: 3px solid #f3f4f7;
  [data-tm-layout="dark"] & {
    border-bottom-color: #ffffff12;
  }
  &:hover {
    .entry-header {
      @include transition(all 300ms ease);
      .thumb {
        position: relative;
        overflow: hidden;
        .post-thumb {
          &:first-child {
            transform: translatex(0) scalex(1);
            opacity: 1;
            filter: blur(0);
          }
          &:nth-child(2) {
            transform: translatex(-50%) scalex(2);
            opacity: 0;
            filter: blur(10px);
          }
        }
      }
    }
  }
  .entry-header {
    position: relative;
    .post-thumb-inner {
      position: relative;
    }
    .thumb {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      .post-thumb {
        position: relative;
        width: 100%;
        display: block;
        transition: all 500ms ease;
        &:first-child {
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0px;
          bottom: 0px;
          z-index: 1;
          transform: translatex(50%) scalex(2);
          opacity: 0;
          filter: blur(10px);
        }
      }
    }
    .post-single-meta {
      position: absolute;
      left: 30px;
      bottom: 0;
      z-index: 1;
      text-align: center;
      line-height: 1;
      padding: 12px;
      background-color: var(--theme-color3);
      span {
        display: inline-block;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: var(--theme-color2-text-color);

        &.day {
          font-size: 30px;
          font-weight: 500;
          color: var(--theme-color2-text-color);
          font-family: var(--heading-font-family);
          display: block;
          margin-bottom: 3px;
          line-height: 1;
          padding: 0 10px;
        }
        &.year {
          display: none;
        }
      }
    }
  }
  .entry-content {
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    @include transition(all 300ms ease);
  }
  .entry-meta {
    position: relative;
    text-transform: capitalize !important;
    margin-bottom: 15px !important;
    background-color: rgb(255, 255, 255);
    padding: 5px 12px;
    [data-tm-layout="dark"] & {
      background-color: #131b24;
    }
    li {
      position: relative;
      font-size: 14px;
      i {
        margin-right: 5px;
        color: var(--theme-color3);
        [data-tm-layout="dark"] & {
          color: #fff;
        }
        font-size: 14px;
      }
      a:hover {
        color: var(--theme-color3);
      }
    }
  }
  .entry-title {
    margin-top: 0;
    margin-bottom: 10px;
    a:hover,
    a:focus {
      [data-tm-layout="dark"] & {
        color: #fff;
      }
    }
    a {
      background-position: 0 95%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      display: inline;
      color: var(--theme-color3);
      &:hover {
        background-size: 100% 2px;
        background-image: linear-gradient(180deg, var(--theme-color3) 0%, var(--theme-color3) 100%);
        color: var(--theme-color3);
      }
    }
  }
  .mascot-post-excerpt {
    margin-top: 15px;
  }
  .btn-plain-text-with-arrow-right {
    &:after {
      color: var(--theme-color3);
    }
    &:hover {
      color: var(--theme-color3) !important;
      &:after {
        color: var(--theme-color3) !important;
      }
    }
  }
}
