.tm-sc-features .icon {
  display: inline-block;
}
.tm-sc-features .icon,
.tm-sc-features .features-title,
.tm-sc-features .features-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.feature-side-line {
  position: relative;
}
.feature-side-line .icon-box-wrapper:after {
  content: "";
  background: #333;
  width: 2px;
  position: absolute;
  left: 25px;
  top: 60px;
  bottom: -12px;
}
@media (max-width: 575.98px) {
  .feature-side-line .icon-box-wrapper:after {
    display: none;
  }
}

.features-block-style10 {
  margin-bottom: 30px;
}
.features-block-style10.active .inner-box::before, .features-block-style10:hover .inner-box::before {
  width: 100%;
}
.features-block-style10.active .inner-box .feature-icon i, .features-block-style10:hover .inner-box .feature-icon i {
  transform: rotateY(360deg);
  color: var(--theme-color3);
}
.features-block-style10.active .inner-box .feature-icon .svg-icon, .features-block-style10:hover .inner-box .feature-icon .svg-icon {
  transform: rotateY(360deg);
}
.features-block-style10.active .inner-box .feature-icon .svg-icon path, .features-block-style10:hover .inner-box .feature-icon .svg-icon path {
  fill: #fff;
}
[data-tm-layout=dark] .features-block-style10.active .inner-box .feature-icon .svg-icon path, [data-tm-layout=dark] .features-block-style10:hover .inner-box .feature-icon .svg-icon path {
  fill: #ffffff;
}
.features-block-style10.active .inner-box .content-box .features-title, .features-block-style10:hover .inner-box .content-box .features-title {
  color: #fff;
}
.features-block-style10.active .inner-box .content-box .features-title a, .features-block-style10:hover .inner-box .content-box .features-title a {
  color: #fff;
}
[data-tm-layout=dark] .features-block-style10.active .inner-box .content-box .features-title a, [data-tm-layout=dark] .features-block-style10:hover .inner-box .content-box .features-title a {
  color: var(--headings-color);
}
.features-block-style10.active .inner-box .content-box .features-details, .features-block-style10:hover .inner-box .content-box .features-details {
  color: #fff;
}
[data-tm-layout=dark] .features-block-style10.active .inner-box .content-box .features-details, [data-tm-layout=dark] .features-block-style10:hover .inner-box .content-box .features-details {
  color: var(--headings-color);
}
.features-block-style10 .inner-box {
  position: relative;
  padding: 30px 30px 20px;
  z-index: 1;
  background-color: rgb(242, 245, 241);
  border-radius: 10px;
  transition: all 500ms ease;
}
.features-block-style10 .inner-box::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  content: "";
  z-index: -1;
  border-radius: 10px;
  background-color: var(--theme-color3);
  transition: all 500ms ease;
}
.features-block-style10 .inner-box .feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 100px;
  background-color: rgb(200, 248, 169);
  margin-bottom: 25px;
}
.features-block-style10 .inner-box .feature-icon .svg-icon {
  transition: all 500ms ease;
}
.features-block-style10 .inner-box .feature-icon i {
  display: flex;
  transform: rotateY(0);
  color: var(--theme-color3);
  font-size: 37px;
  line-height: 1;
  transition: all 900ms ease;
}
.features-block-style10 .inner-box .content-box {
  margin-top: 40px;
}
.features-block-style10 .inner-box .content-box .features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
  transition: all 500ms ease;
  margin-top: 0;
}
.features-block-style10 .inner-box .content-box .features-details {
  line-height: 35px;
  transition: all 500ms ease;
}