@import "../../bootstrap-loader";
@import "testimonial-common";

.testimonial-block-style7 {
  position: relative;
  &:hover {
    .inner-box {
      .icon {
      }
    }
  }
  .inner-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    .icon {
      @include radius(60px, 60px, 60px);
      width: 60px;
      height: 60px;
      align-items: center;
      border-radius: 50%;
      @include transition(all 300ms ease);
      margin-bottom: 50px;
      font-size: 30px;
      background: var(--theme-color1);
      color: var(--theme-color1-text-color);
    }
    .author-text {
      font-weight: 500;
      line-height: 30px;
      font-size: 18px;
    }
    .testi-info {
      display: flex;
      position: relative;
      align-items: center;
      margin-top: 40px;
      .testimonial-name {
        position: relative;
        padding-left: 50px;
        margin: 0;
        &::after {
          position: absolute;
          top: 20px;
          left: 0px;
          width: 32px;
          height: 2px;
          background-color: var(--theme-color2);
          content: "";
        }
      }
      .testimonial-position {
        color: #4b535d;
        font-weight: 400;
        position: relative;
        padding-left: 10px;
      }
    }
  }
}
