@import "../../bootstrap-loader";
.team-current-theme5 {
  .inner-box {
    position: relative;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0, 0.1);
    [data-tm-layout="dark"] & {
      background-color: var(--dark-color2);
      border-color: #ffffff20;
    }
    &:hover {
      .team-image {
        img {
          &:nth-child(1) {
            transform: translatex(0) scalex(1);
            opacity: 1;
            filter: blur(0);
          }
          &:nth-child(2) {
            transform: translatex(-50%) scalex(2);
            opacity: 0;
            filter: blur(10px);
          }
        }
      }
      .content-box {
        .social-links {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .team-image {
      border-radius: 30px;
      overflow: hidden;
      transition: all 300ms ease;
      position: relative;
      img {
        width: 100%;
        transition: all 300ms ease;
      }
      img {
        background-size: cover;
        transition: 0.5s;
        width: 100%;
        &:nth-child(1) {
          transform: translatex(50%) scalex(2);
          opacity: 0;
          filter: blur(10px);
        }
        &:nth-child(2) {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          object-fit: cover;
        }
      }
    }
  }
  .content-box {
    position: relative;
    padding: 20px;
    padding-bottom: 10px;
    @include transition(all 500ms ease);
    .team-title {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      vertical-align: middle;
      text-transform: capitalize;
      margin: 0;
      font-family: var(--heading-font-family);
      a {
        transition: none;
        &:hover {
          color: var(--theme-color1);
        }
      }
    }
    .team-subtitle {
      font-weight: 500;
      font-size: 15px;
      line-height: 30px;
      text-transform: capitalize;
      color: #797979;
    }
    .social-links {
      position: absolute;
      right: 15px;
      bottom: 30px;
      transform: translateX(100%);
      opacity: 0;
      z-index: 99;
      visibility: hidden;
      @include transition(all 300ms ease);
      @include media-breakpoint-down(xxl) {
        bottom: 15px;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        @include media-breakpoint-down(xl) {
          flex-direction: column;
        }
        li {
          list-style: none;
          margin: 0;
          a {
            position: relative;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            text-align: center;
            border-radius: 50%;
            color: var(--headings-color);
            background: var(--theme-color-white);
            box-shadow: 0 1px 4px rgb(12 12 13 / 10%);
            display: block;
            z-index: 1;
            @include transition(all 300ms ease);
            &:hover {
              color: var(--theme-color-white);
              background: linear-gradient(90deg, #c8f169 0%, #039397 100%);
            }
          }
        }
      }
    }
  }
}
