@import "../../bootstrap-loader";
.team-current-theme3 {
  .inner-box {
    border-radius: 30px 0 30px 30px;
    position: relative;
    margin-bottom: 26px;
    overflow: hidden;
    text-align: center;
    &:before {
      background-image: url(../../../images/current-theme/noise-1.png);
      border-radius: 30px;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    &:hover {
      .image-box {
        &::before {
          opacity: 1;
          visibility: visible;
          top: calc(100% - 152px);
        }
        .image img {
          transform: scale(1.1);
        }
      }

      .share-icon {
        .icon {
          background-color: var(--theme-color1);
          [data-tm-layout="dark"] & {
            background-color: #0f2727;
          }
          color: #fff;
          transform: rotate(-45deg);
        }
      }
      .social-links {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;
        height: auto;
      }
    }
    .image-box {
      position: relative;
      padding-top: 12px;
      &:before {
        background: var(--gradient-1);
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        width: 623.54px;
        height: 623.74px;
        filter: blur(102.95px);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        @include transition(all 300ms ease);
      }
      .image {
        margin-bottom: 0;
        @include transition(all 300ms ease);
        img {
          width: 100%;
          @include transition(all 500ms ease);
        }
      }
    }
  }
  .share-icon {
    background-color: #f6f5ef;
    [data-tm-layout="dark"] & {
      background-color: #0f2727;
    }
    border-radius: 0 0 0 30px;
    padding: 0 0 0 18px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    @include transition(all 300ms ease);
    &:before {
      content: "";
      position: absolute;
      top: 0;
      height: 40px;
      width: 20px;
      background-color: transparent;
      box-shadow: 0 20px 0 0 #f6f5ef;
      [data-tm-layout="dark"] & {
        box-shadow: 0 20px 0 0 #f6f5ef;
      }
      border-radius: 0 0 30px 0;
      right: 100%;
      z-index: -1;
      transform: rotateX(-180deg);
    }
    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -40px;
      height: 40px;
      width: 20px;
      background-color: transparent;
      box-shadow: 0 17px 0 0 #f6f5ef;
      [data-tm-layout="dark"] & {
        box-shadow: 0 17px 0 0 #0f2727;
      }
      border-radius: 0 0 30px 0;
      border-right: 0;
      z-index: -1;
      transform: rotateX(-180deg);
    }
    .icon {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 18px;
      color: var(--headings-color);
      border-top: 1px solid var(--theme-color-white);
      background-color: var(--theme-color-white);
      @include transition(all 300ms ease);
      z-index: 3;
      display: inline-block;
    }
  }

  .social-links {
    position: relative;
    right: 2px;
    top: 0;
    padding: 10px 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    height: 0;
    @include transition(all 400ms ease);
    li {
      list-style: none;
    }
    a {
      background-color: var(--theme-color2);
      border-radius: 50%;
      position: relative;
      height: 40px;
      line-height: 40px;
      width: 40px;
      display: block;
      font-size: 16px;
      text-align: center;
      color: var(--theme-color-white);
      [data-tm-layout="dark"] & {
        color: #fff;
      }
      margin-bottom: 10px;
      @include transition(all 300ms ease);
      z-index: 1;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        background: var(--gradient-1);
        border-radius: 50%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transform: scale(0);
        @include transition(all 300ms ease);
      }
      &:hover {
        color: var(--theme-color-white);
        &:before {
          transform: scale(1);
        }
      }
    }
  }
  .content-box {
    position: absolute;
    padding: 30px 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    .team-title {
      color: var(--theme-color-white);
      [data-tm-layout="dark"] & {
        color: #fff;
      }
      margin: 0;
      @include transition(all 300ms ease);
      a:hover,
      a:focus {
        color: #fff;
      }
    }
    .team-subtitle {
      color: var(--theme-color-white);
      [data-tm-layout="dark"] & {
        color: #fff;
      }
      font-family: var(--extra-font-family);
      font-size: 14px;
      font-style: italic;
      @include transition(all 300ms ease);
    }
  }
}
