@import "../../bootstrap-loader";

.counter-block-style3 {
  .counter {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--theme-color1);
    color: transparent;
    margin: 0;
    font-size: 90px;
    font-weight: 600;
    line-height: 110px;
  }
  .title {
    color: var(--theme-color-white);
    margin: 0;
  }
}
