.tm-sc-working .icon {
  display: inline-block;
}
.tm-sc-working .icon,
.tm-sc-working .working-title,
.tm-sc-working .working-details {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.working-block-style1 {
  text-align: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 1199.98px) {
  .working-block-style1 {
    margin-bottom: 40px !important;
  }
}
.working-block-style1 .icon {
  width: 180px;
  height: 180px;
  line-height: 180px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  background-color: var(--theme-color2);
  position: relative;
  z-index: 1;
}
.working-block-style1 .icon i {
  transition: all 900ms ease;
  font-size: 70px;
  line-height: 180px;
  color: var(--theme-color1);
  transform: rotateY(0deg);
}
.working-block-style1 .icon svg {
  font-size: 84px;
  line-height: 84px;
  color: var(--theme-color2);
  transition: all 900ms ease;
}
.working-block-style1 .icon svg path {
  transition: all 900ms ease;
  font-size: 70px;
  line-height: 180px;
  fill: var(--theme-color1);
}
.working-block-style1 .icon .working-count {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--theme-color-white);
  position: absolute;
  bottom: 10px;
  left: -30px;
  font-size: 22px;
  font-weight: 700;
  font-family: var(--title-font);
  color: var(--headings-color);
  box-shadow: -5px 5px 12px 0px rgba(0, 0, 0, 0.0509803922);
}
.working-block-style1 .working-title {
  margin-top: 30px;
  margin-bottom: 15px;
}
.working-block-style1 .working-details {
  padding: 0px 50px;
}
@media (max-width: 767.98px) {
  .working-block-style1 .working-details {
    padding: 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .working-block-style1 {
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  .working-block-style1 {
    max-width: 100%;
  }
}
.working-block-style1 .line {
  position: absolute;
  left: -26%;
  top: 75px;
  z-index: -1;
}
@media (max-width: 1399.98px) {
  .working-block-style1 .line {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .working-block-style1 .line.item-middle {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .working-block-style1 .line {
    display: none;
  }
}
.working-block-style1.active .icon {
  background-color: var(--theme-color2);
}
.working-block-style1:hover .icon {
  background-color: var(--theme-color1);
}
.working-block-style1:hover .icon i,
.working-block-style1:hover .icon svg {
  transform: rotateY(-360deg);
  fill: #fff;
  color: #fff;
}
.working-block-style1:hover .icon i path,
.working-block-style1:hover .icon svg path {
  fill: #fff;
}
.working-block-style1:hover .icon .working-count {
  animation: bounceIn 1s forwards;
}

.isotope-item:nth-child(2) .working-block-style1 .icon {
  background-color: var(--theme-color1);
}
.isotope-item:nth-child(2) .working-block-style1 .icon i {
  color: #fff;
}
.isotope-item:nth-child(2) .working-block-style1 .icon svg path {
  fill: #fff;
}

.isotope-item:last-child .working-block-style1 .line {
  display: none;
}